{
  "name": "base16",
  "dark": true,
  "author": "",
  "editorScheme": "/base16.scheme.icls",
  "colors": {
    "base00Hex": "#{{base00-hex}}",
    "base01Hex": "#{{base01-hex}}",
    "base02Hex": "#{{base02-hex}}",
    "base03Hex": "#{{base03-hex}}",
    "base04Hex": "#{{base04-hex}}",
    "base05Hex": "#{{base05-hex}}",
    "base06Hex": "#{{base06-hex}}",
    "base07Hex": "#{{base07-hex}}",
    "base08Hex": "#{{base08-hex}}",
    "base09Hex": "#{{base09-hex}}",
    "base0AHex": "#{{base0A-hex}}",
    "base0BHex": "#{{base0B-hex}}",
    "base0CHex": "#{{base0C-hex}}",
    "base0DHex": "#{{base0D-hex}}",
    "base0EHex": "#{{base0E-hex}}",
    "base0FHex": "#{{base0F-hex}}"
  },
  "ui": {
    "*": {
      "caretForeground": "base07Hex",
      "disabledForeground": "base07Hex",
      "background": "base00Hex",
      "foreground": "base07Hex",
      "inactiveBackground": "base00Hex",
      "inactiveForeground": "base07Hex",
      "selectionBackground": "base02Hex",
      "selectionBackgroundInactive": "base00Hex",
      "acceleratorForeground": "base07Hex",
      "acceleratorSelectionForeground": "base07Hex",
      "selectionForeground": "base07Hex",
      "selectionForegroundInactive": "base07Hex",
      "selectionInactiveBackground": "base00Hex",
      "selectionInactiveForeground": "base07Hex",
      "underlinedTabBackground": "base00Hex",
      "underlinedTabForeground": "base07Hex"
    },
    "Borders": {
      "ContrastBorderColor": "base00Hex",
      "color": "base00Hex"
    },
    "FileColor": {
      "Blue": "base00Hex",
      "Green": "base00Hex",
      "Orange": "base00Hex",
      "Rose": "base00Hex",
      "Violet": "base00Hex",
      "Yellow": "base00Hex"
    }
  }
}