<idea-plugin>
<name>base16-theme</name>
<id>com.benjamin-mertz.base16.idea</id>
<version>0.0.1</version>
<vendor email="ben.mertz.dev@gmail.com" url="https://github.com/4lex4/intellij-platform-solarized">Ben MERTZ</vendor>
<category>UI</category>
<description>
</description>
<change-notes>
</change-notes>
<idea-version since-build="192"/>
<depends>com.intellij.modules.lang</depends>
<extensions defaultExtensionNs="com.intellij">
  <bundledColorScheme id="2974782c-8e90-4a09-91b4-90c9f58ac314" path="/base16.scheme.icls"/>
  <themeProvider id="545ec8fc-13e1-48e2-ba53-6ab35d8a5dce" path="/base16.theme.json"/>
</extensions>
<actions> </actions>
</idea-plugin>